* {margin: 0; padding: 0;}
body {font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;}
li {list-style: none;}
a {text-decoration: none;}

header {
    background-color: #264066;
    color: aliceblue;
    height: 80px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

.contents {
    margin-top: 20px;
}

.playing-game {
    background-color: #df514c;
}

.title {
    text-align: center;
    padding: 20px 0 5px 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.sentence {
    text-align: center;
    padding: 0px 0 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.url-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #333;
    margin: 20px 0;
}

.btn {
    color: aliceblue;
    font-size: 30px;
    padding: 20px 0;
}

.fa {
    margin-right: 20px;
}

.steam {
    border-bottom: 2px solid #555; 
}

.twitch {
    border-bottom: 2px solid #555;
}

footer {
    background-color: #264066;
    color: aliceblue;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
