* {margin: 0; padding: 0;}
body {font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;}
li {list-style: none;}
a {text-decoration: none;}

header {
    background-color: #264066;
    color: aliceblue;
    height: 80px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

.contents {
    margin-top: 20px;
}

.first {
    background-color: #fafafa;
    margin-bottom: 20px;
}

.hobby {
    background-color: #eaf4fc;
    margin-bottom: 20px;
}

.playing-game {
    background-color: #eaf4fc;
    margin-bottom: 20px;
}

.pc-specs {
    background-color: #fde7e6;
    margin-bottom: 20px;
}

.before-life {
    background-color: #efe1ff;
}

.title {
    text-align: center;
    padding: 20px 0 5px 0;
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

.sentence {
    text-align: center;
    padding: 0px 0 20px 0;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.picture {
    width: 80%;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.url-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #333;
    margin: 20px 0;
}

.btn {
    color: aliceblue;
    border-bottom: 2px solid #555;
    font-size: 30px;
    padding: 20px 0;
}

.fa {
    margin-right: 20px;
}

footer {
    background-color: #264066;
    color: aliceblue;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
