/* とりまコピペしたやつ */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここから下が俺が書いたやつ */

.container {
  width: 100%;
}

header {
  background-color: #333;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  opacity: 0.8;
}

.logo {
  width: 60px;
  margin-left: 10px;
}

.logo:hover {
  opacity: 0.5;
}

.about {
  text-align: center;
  background-image: url(nathan-anderson-L95xDkSSuWw-unsplash.jpg);
  padding-top: 150px;
  height: 500px;
  background-size: cover;
}

.about h1 {
  color: white;
  font-size: 50px;
  opacity: 0.7;
  letter-spacing: 5px;
}

.about p {
  color: white;
  font-size: 18px;
  opacity: 0.7;
  padding: 30px 0 100px 0;
  letter-spacing: 2px;
}

.btn {
  font-size: 20px;
  color: #333;
  padding: 15px 30px;
  border-radius: 15px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
  transition: all 0.7s;
}

.instagram {
  background-color: aliceblue;
  margin-right: 20px;
}

.twitter {
  background-color: aliceblue;
  margin-right: 20px;
}

.steam {
  background-color: aliceblue;
}

.fa {
  margin-right: 10px;
}
